*
# Repository
!LICENSE
!.gitignore
!*.org

## Directories
!tests/
!tests/*/
!tests/*/*/
!examples/
!examples/*/
!examples/*/pics

## Simulator
!*.rkt

## Examples
!*.S
!Makefile

## Octave
!*.m

## Images
!*.svg
!*.png